//google fonts 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

//fonts
$mainFont:'Roboto', sans-serif;

//fontweight
$textRegular:400;
$textBold:600;
$textLigh:300;

//sizes
$textSm:1em;
$textMd:1.6em;
$textXl:2em;
$textXll:3em;

