//variables colores
$mainColor:rgba(89, 2, 2, 1);
$secondary:rgba(216, 189, 179, 0.5);
$keyColor:#BF4158;
$keyColor2:#590303;
$keyColor3:#0D0D0D;
$keyColor4:#D9BEB4;

//width
$w-30:30%;
$w-60:60%;
$w-100:100%;

//colores

/* Color Theme Swatches in Hex */
.Moda-1-hex { color: #BF4158; }
.Moda-2-hex { color: #D9BEB4; }
.Moda-3-hex { color: #260101; }
.Moda-4-hex { color: #590303; }
.Moda-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Moda-1-rgba { color: rgba(191, 65, 88, 1); }
.Moda-2-rgba { color: rgba(216, 189, 179, 1); }
.Moda-3-rgba { color: rgba(38, 0, 0, 1); }
.Moda-4-rgba { color: rgba(89, 2, 2, 1); }
.Moda-5-rgba { color: rgba(12, 12, 12, 1); }